@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap");

.texteconditions {
  margin: 0 10%;
}
.texteconditions h1 {
  margin-bottom: 5%;
  text-decoration: underline;
  text-align: center;
}
.texteconditions h3 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10%;
}
.texteconditions h4 {
  margin: 5% 0;
}
